*{
margin: 0;
padding: 0;  
box-sizing: border-box;
}

body{
    font-family: 'Arial',sans-serif;
    
}

.hero-section {
    margin: 0%;
    padding: 0;

   background-image: linear-gradient(to right,red,rgb(105, 10, 10));
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
    
}


.map-section {
    height: 100vh;
    gap: 20px;
    padding: 20px;

    background-color: rgb(216,100, 36);
    color: white;

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
    
}

.map-container iframe {
    width: 90%;
    max-width: 600px;
    height: 300px;
    border: 0;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.about-section {
    height: 100vh;
    padding: 40px 20px;
    background-color: beige;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    gap: 20px;
}

