*{
margin: 0;
padding: 0;  
box-sizing: border-box;
}

body{
    font-family: 'Arial',sans-serif;
    
}

.hero-section {
    margin: 0%;
    padding: 0;

   background-color: red;
   color: white;
   display: flex;
   justify-content: space-around;
   align-items: center;
   height: 100vh;
    
}


.map-section {
    height: 100vh;
    gap: 20px;
    padding: 20px;

    background-color: orange;
    color: white;

    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

.map-container iframe {
    width: 90%;
    max-width: 600px;
    height: 300px;
    border: 0;
}

.social-icons img {
    width: 40px;
    margin: 0 10px;
    cursor: pointer;
}

.about-section{
    height: 100vh;
    background-color: beige;
    color: rgb(12, 12, 12);
    display: grid
    
    
}